/* RESETS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block;
}

:root{
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
}

/* Body */

body{
    font-size: 15px;
    font-family: 'Overpass', sans-serif;
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(228, 11%, 9%);
}

/* Give note */

main{
    max-width: 767.99px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.give-note, .thanks{
    background: linear-gradient(150deg, #20252d, #171e28);
    max-width: 390px;
    width: 90%;
    height: 370px;
    border-radius: 25px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

.give-note{
    align-items: flex-start;
    justify-content: space-between;
}

.star{
    background-color: #272f38;
    padding: .8rem;
    border-radius: 50px;
}

.text h1{
    font-size: 1.7em;
    margin-bottom: .8rem;
}

.text span{
    font-size: .95em;
    color: var(--light-grey);
    line-height: 26px;
}

.note-selectors{
    width: 100%;
}

ul{
    width: 100%;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li input{
    display: none;
}

.rate-btn{
    background: #272f38;
    border: none;
    border-radius: 50px;
    width: 46px;
    height: 46px;
    color: var(--light-grey);
    vertical-align: text-bottom;
    font-weight: bold;
    cursor: pointer;
    transition: all .4s;
    display: flex;
    justify-content: center;
    align-items: center;
}

li input:not(:checked) ~ .rate-btn:hover{
    background: hsl(214, 12%, 54%);
    color: white;
}

li input:checked ~ .rate-btn{
    background: var(--orange);
    color: white;
}

#submit{
    background: var(--orange);
    border: none;
    width: 100%;
    margin: 0 auto;
    color: white;
    font-weight: light;
    letter-spacing: 2px;
    font-size: 1em;
    padding: .8rem 0;
    border-radius: 20px;
    transition: all .3s;
    min-height: 43px;
}

#submit:hover{
    background: white;
    color: var(--orange);
    cursor: pointer;
}

/* Thanks */

.thanks{
    justify-content: space-between;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.thanks-img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.thanks img{
    width: 90%;
}

#given-note{
    color: var(--orange);
    background-color: #272f38;
    line-height: 35px;
    padding: 0 .8rem;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 1.6em;
}

.thanks span{
    color: var(--light-grey);
    line-height: 26px;
}

.give-note{
    display: flex;
}

.thanks{
    display: none;
}

.attribution{
    margin-top: 1rem;
    color: white;
    font-size: .9em;
}

.attribution a{
    color: var(--orange);
    text-decoration: none;
}
